<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SiteVisitka</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="logo col-md-3">
					<h1><a href="/Home/Main">Фёдр может</a></h1>
				</div>
				<div class="col-md-2 dopInfo offset-md-4"><a href="/Home/Works">Наши работы</a></div>
				<div class="col-md-2 dopInfo offset-md-1 col-xl-1"><a href="/Home/About">О нас</a></div>
			</div>
		</div>
	</header>

    <div>
        @RenderBody()
    </div>

	<footer>
		<div class="container">
			<div class="row">
				<h1>End</h1>
			</div>
		</div>
	</footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
