@{
	ViewData["Title"] = "Home Page";
}

<div class="container Presenting">
	<div class="row">
		<div class="col-md-6">
			<iframe class="col-12" src="../Text/MainText.txt"></iframe>
		</div>
		<div class="col-md-6">
			<img src="../Images/BusinessPhoto.png">
		</div>
	</div>
</div>
<div class="container">
	<div class="row aWorks">
		<div class="col col-md-6 galerea">
			<div class="row">
				<div class="col col-md-6"><img src="../Images/Test/1.jpg" class="img_wrap"></div>
				<div class="col col-md-6"><img src="../Images/Test/2.jpg" class="img_wrap"></div>
			</div>
			<div class="row">
				<div class="col col-md-6"><img src="../Images/Test/3.jpg" class="img_wrap"></div>
				<div class="col col-md-6"><img src="../Images/Test/4.jpg" class="img_wrap"></div>
			</div>
		</div>
		<div class="col col-md-6">
			<p>fnefueuefuieuieef</p>
		</div>
	</div>
</div>

<div class="container BoxCooments">
	<div class="row coment">
		<div class="container">
			<div class="row">
				<div class="col-md-6 Name">Name</div>
				<div class="col-md-6 Adress">Adress</div>
			</div>
			<div class="row">
				<div class="col-md-12 TextComment">Text</div>
			</div>
		</div>
	</div>
</div>
