@{
	ViewData["Title"] = "Home Page";
}

<div class="container Presenting">
	<div class="row">
		<div class="col-md-6">
			<p>@File.ReadAllText("wwwroot/Text/MainText.txt")</p>
		</div>
		<div class="col-md-6">
			<img src="~/Images/BusinessPhoto.png">
		</div>
	</div>
</div>
<div class="container">
	<div class="row aWorks">
		<div class="col col-md-6 galerea">
			<div class="row">
				<div class="col col-md-6"><img src="~/Images/Works/Test/1.jpg" class="img_wrap"></div>
				<div class="col col-md-6"><img src="~/Images/Works/Test/2.jpg" class="img_wrap"></div>
			</div>
			<div class="row">
				<div class="col col-md-6"><img src="~/Images/Works/Test/3.jpg" class="img_wrap"></div>
				<div class="col col-md-6"><img src="~/Images/Works/Test/4.jpg" class="img_wrap"></div>
			</div>
		</div>
		<div class="col col-md-6">
			<p>fnefueuefuieuieef</p>
		</div>
	</div>
</div>

<div class="container BoxCooments">
	<div class="row coment">
		<div class="container">
			<div class="row">
				<div class="col-md-6 Name">Name</div>
				<div class="col-md-6 Adress">Adress</div>
			</div>
			<div class="row">
				<div class="col-md-12 TextComment">Text</div>
			</div>
		</div>
	</div>
</div>
