body {
    background-image: url("https://i.pinimg.com/originals/fd/de/37/fdde3793e3fe78f1eb47bf2b438e023a.png");
    margin: auto;
}

form, textarea{
    width: 100%;
}

a{
    color:black;
}
a:visited {
    color: black;
}

header, footer {
    background-color: #D5B08F;
    margin: 0;
}

footer {
    margin-top: 40px;
}


.logo {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    text-align: left;
}

.PresentingLogo {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 500%;
    text-align: center !important;
}

.dopInfo {
    text-align: center;
    line-height: 45px;
    font-size: 25px;
}

.PresentingBlok {
    flex: 100%;
}

.PresentingBlok img {
    width: 100%;
}

@media (min-width: 576px) {
    .dopInfo {
    }
}

@media (min-width: 768px) {
    .PresentingBlok {
        max-width: 100%;
    }



    .dopInfo {
        max-width: 1140px;
    }

    .offset-6 {
        margin-left: 40%;
    }
}

@media (min-width: 992px) {
    .PresentingBlok{
        max-width: 100%;
    }

    .dopInfo {
        max-width: 1140px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .PresentingBlok {
        max-width: 50%;
    }
    
    .dopInfo {
        font-size: 25px;
    }
}

.Presenting {
    margin-bottom: 20px;
    margin-top: 20px;
}

iframe {
    height: 100%;
    border: none;
}

.imgWrap{
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.galerea div {
    padding-left: 0px;
    padding-right: 0px;
}

.galerea img {
    padding: 2%;
}

.aWorks {
    border: 8px double black;
    background-color: rgba(84,33,3,0.70);
    color: #C6C6C6;
    margin-bottom: 30px;
}

.BoxCooments {
    margin-top: 1cm;
    border: 5px outset #D19E5F;
    background-color: #B0342A;
    padding-bottom: 0.5cm;
}

.comment {
    margin: 0.5cm 0.5cm 0cm;
    background-color: #c1781e;
    color: #C6C6C6;
    border: 3px solid black;
}

.commentField {
    background-color: #fddeb2;
    width: 100%;
}

.RowCommentField{
    margin-top: 10px;
}

.Name {
    font-size: 18px;
}

.TextComment {
    margin: 0.3cm 0cm;
}

.button {
    font: bold 16pt sans;
    background: #bf4276;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}