
@{
	ViewData["Title"] = "AddWork";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
	footer {
		margin-top: 100%;
	}
</style>
<div class="container">
	<div class="row">
		<h1>Add Work</h1>
	</div>
	<div class="row">
		<form name="PostWork">
			<p>Введите название*</p>
			<input type="text" name="Name">
			<label id="ErrorName" style="color:red"></label>

			<p>Введите описание</p>
			<textarea name="Description"></textarea>

			<p>Введите адрес</p>
			<input type="text" name="Address">

			<p>Введите сылки на изображения через enter*</p>
			<textarea name="urlImages"></textarea>
			<label id="ErrorUrls" style="color:red"></label>

			<label>Показывать на гланой странице</label>
			<input type="checkbox" name="Prestige" />

			<br />
			<button type="button" id="submit" onclick="CreatWork()">Отправить</button>

			<br />
			<p id="statusOK" style="color:green; display:none">Данные успешно отправлены</p>
			<p id="statusError" style="color:red; display:none">Ошибка</p>
		</form>
	</div>
</div>
<script src="~/js/ScriptForApiAddWork.js"></script>
