@model WorksContext
@{
	ViewData["Title"] = "admin";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	footer {
		margin-top: 100%;
	}

	a {
		color: #e69e19;
	}

		a:visited {
			color: #e69e19;
		}
</style>
<div class="container Presenting">
	<div class="row">
		<a href="~/Admin/AddWork" class="button col-md-2">
			Добавить работу
		</a>
		<a href="~/Admin/PutSqlRequest" class="button offset-md-1 col-md-4">
			Отправить запрос к базе данных
		</a>
	</div>
</div>

<div class="container BoxCooments">
	@foreach (Comment comment in Model.Comments.GroupBy(x => x.Approved))
	{
		@Html.CreateCommentBox(
			new MyCreatorTagP(context: comment.Name),
			new MyCreatorTagP(context: comment.Address),
			new MyCreatorTagP(context: comment.Text)
		)
	}
</div>

