@model WorksContext
@{
	ViewData["Title"] = "admin";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	footer {
		margin-top: 100%;
	}

	a {
		color: #e69e19;
	}

		a:visited {
			color: #e69e19;
		}
</style>
<div class="container Presenting">
	<div class="row">
		<a href="~/Admin/AddWork" class="button col-md-2">
			Добавить работу
		</a>
		<a href="~/Admin/PutSqlRequest" class="button offset-md-1 col-md-4">
			Отправить запрос к базе данных
		</a>
	</div>
</div>

<div class="container BoxCooments">
	@foreach (Comment comment in Model.Comments.GroupBy(x => x.Approved))
	{
		<div class="row coment">
			<div class="container">
				<div class="row">
					<div class="col-md-6 Name">@comment.Name</div>
					<div class="col-md-6 Adress">@comment.Address</div>
				</div>
				<div class="row">
					<div class="col-md-12 TextComment">
						<p>@comment.Text</p>
					</div>
				</div>
			</div>
		</div>
	}
</div>

