@model WorksContext
@{
	ViewData["Title"] = "admin";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	footer {
		margin-top: 100%;
	}

	a {
		color: #e69e19;
	}

		a:visited {
			color: #e69e19;
		}
</style>
<div class="container Presenting">
	<div class="row">
		<a href="~/Admin/AddWork" class="button col-md-2">
			Добавить работу
		</a>
		<a href="~/Admin/PutSqlRequest" class="button offset-md-1 col-md-4">
			Отправить запрос к базе данных
		</a>
	</div>
</div>

<div class="container BoxCooments">
	@foreach (Comment comment in Model.Comments.OrderBy(x => x.Approved).ToList())
	{
		string comId = comment.Id.ToString();
		string nameForFom = "comment" + comId;
		IMyTagCreator[] myTags = new IMyTagCreator[2];
		if (comment.Approved == false)
		{
			myTags[0] = new MyCreatorTagButton(type: "button", context: "одобрить", onClick: $"ApprovedCom({comId})", id: $"butApp{comId}");
			myTags[1] = new MyCreatorTagDiv( style: "margin-top: 10px",
				tags: new IMyTagCreator[]{
					new MyCreatorTagButton(type: "button", context: "удалить", onClick: $"deleteCom({comId})", id: $"butDel{comId}"),
					new MyCreatorTagInput(type: "checkbox", style: "margin-left: 20px", name: "exactlyDel"),
					new MyCreatorTagDiv(id:$"status{comId}") 
				}
			);
		}

	<form name="@nameForFom">
		@Html.CreateCommentBox(
			new MyCreatorTagP(context: comment.Name),
			new MyCreatorTagP(context: comment.Address),
			new MyCreatorTagP(context: comment.Text),
			myTags
		)
	</form>
	}
	<script src="~/js/ScriptForChangeComment.js"></script>
</div>

